.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    width: 100%;

    background-color: var(--color-primary-800);
    z-index: 1000;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
}