.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    width: 100%;
    background-color: var(--color-primary-800);

    padding: 2rem 1.5rem;

    display: flex;
    justify-content: space-between;
}

@media (min-width: 64rem) {
    .header {
        max-width: 90rem;
        padding-inline: 4rem;
    }
}
