:root {
  --color-primary-100: rgba(254, 254, 254, 1);
  --color-primary-200: rgba(223, 223, 223, 1);
  --color-primary-400: rgba(149, 149, 149, 1);
  --color-primary-500: rgba(112, 112, 112, 1);
  --color-primary-700: rgba(254, 254, 254, 0.04);
  --color-primary-800: rgba(18, 18, 18, 1);
  
  --color-accent-500: rgba(250, 110, 0, 1);
  

  --ff-primary: "Lato", sans-serif;

  --fs-xxxlarge: 3.5rem;
  --fs-large: 1.75rem;
  --fs-medium: 1.5rem;
  --fs-small: 1.25rem;
  --fs-xsmall: 1rem;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;

  font-family: var(--ff-primary);
  color: var(--color-primary-500);
  font-size: var(--fs-xsmall);
  font-weight: var(--fw-bold);
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: var(--color-primary-800);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
